<a href="https://colab.research.google.com/github/19PA1A0548/Ai/blob/main/Kfold_cross_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd#importing the libraries
import matplotlib.pyplot as plt

In [5]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.linear_model import LogisticRegression

In [6]:
df = pd.read_csv("/content/Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [11]:
x = df["EstimatedSalary"].values.reshape(-1,1)
y = df["Purchased"].values.reshape(-1,1)

In [12]:
model = LogisticRegression()

In [13]:
# prepare the cross-validation procedure
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [19]:
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
print(np.mean(scores))

0.6425